/* place all CSS for the page in this file */

/* ****************************************************************************
***** global
**************************************************************************** */
:root {
  --header-height: 80px;
  --header-background-color: #000;
  --footer-height: 420px;
  --footer-background-color: #000;
  --top-container-height: 700px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
}

.wrapper {
  display: flex;
  position: relative;
  min-height: 100%;
  padding-bottom: var(--footer-height);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* ****************************************************************************
***** header
**************************************************************************** */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  background-color: transparent;
  transition: background-color 1000ms ease;
  z-index: 100;
}

header.scrolled {
  background-color: var(--header-background-color);
}

header .logo {
  text-align: left;
  padding: 1rem;
}

header .logo img {
  display: block;
  height: calc(var(--header-height) * 0.5);
}

header .logo a {
  display: inline-block;
}

/* ****************************************************************************
***** main
**************************************************************************** */
main {
  min-width: 100%;
  padding-top: var(--top-container-height);
}

main .topContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("beach.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  height: var(--top-container-height);
  color: #fff;
  text-align: center;
}

main .topContainer .outer {
  position: absolute;
  height: calc(var(--top-container-height) * 0.5);
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .topContainer .inner {
  padding: 0 2rem;
}

main .topContainer p {
  font-weight: 500;
  letter-spacing: 1px;
}

main .topContainer a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: #f0b540;
  color: #333333;
  margin-top: 0.5rem;
  padding: 1rem 4rem;
  border-radius: 5px;
}

/* ****************************************************************************
***** footer
**************************************************************************** */
footer {
  background-color: #ddd;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--footer-height);
  color: #eee;
  text-align: center;
}

/* ****************************************************************************
***** container
**************************************************************************** */
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
}

.container .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container .title a {
  align-self: center;
}

@media (min-width: 400px) {
  .container {
    max-width: 380px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* ****************************************************************************
***** row/col
**************************************************************************** */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  text-align: center;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.col {
  display: block;
  flex: 1 0 0%;
  /* flex: 0 0 auto;
  width: 25%; */
  min-width: 360px;
}

/* ****************************************************************************
***** card
**************************************************************************** */
.card img {
  max-width: 100%;
}

.card .description {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
}
